{% assign conditionCount = 0 %}
{% if Model.ContentItem.Content.Paragraph.TrackingRequired.Value == true %}
	{% assign conditionCount = conditionCount + 1%}
{% endif %}
{% if Model.ContentItem.Content.Paragraph.AdvertiseRequired.Value == true %}
	{% assign conditionCount = conditionCount + 1%}
{% endif %}

{% assign cookies = Request.Cookies.cookiesConsentOptions | split: "," %}
{% assign checkedConditions = 0 %}
{% for cookie in cookies %}
	{% if cookie == 't' and Model.ContentItem.Content.Paragraph.TrackingRequired.Value == true %}
		{% assign checkedConditions = checkedConditions + 1 %}
	{% endif %}
	{% if cookie == 'a' and Model.ContentItem.Content.Paragraph.AdvertiseRequired.Value == true %}
		{% assign checkedConditions = checkedConditions + 1 %}
	{% endif %}
{% endfor%}

{% if checkedConditions >= conditionCount %}
	<h4 id="{{ Model.ContentItem.Content.TitlePart.Title | slugify }}">{{ Model.ContentItem.Content.TitlePart.Title }}</h4>
	{{ Model.ContentItem.Content.HtmlBodyPart.Html | raw }}
{% else %}
	<h4 id="{{ Model.ContentItem.Content.TitlePart.Title | slugify }}"></h4>
	{{ Model.ContentItem.Content.Paragraph.AlternateContent.Html | raw }}
{% endif %}