<div class="row w-90 mx-auto">
	<div class="pt-1 mth-content mth-content-sub-paragraph">
		{% assign conditionCount = 0 %}
		{% assign checkedConditions = 0 %}

		{% assign stringParts = Request.Headers.User-agent | split: "Google" %}

		{% if stringParts.size == 1 %}
			{% if Model.ContentItem.Content.SubParagraph.TrackingRequired.Value == true %}
				{% assign conditionCount = conditionCount + 1%}
			{% endif %}
			{% if Model.ContentItem.Content.SubParagraph.AdvertiseRequired.Value == true %}
				{% assign conditionCount = conditionCount + 1%}
			{% endif %}

			{% assign cookies = Request.Cookies.cookiesConsentOptions | split: "," %}
			{% for cookie in cookies %}
				{% if cookie == 't' and Model.ContentItem.Content.SubParagraph.TrackingRequired.Value == true %}
					{% assign checkedConditions = checkedConditions + 1 %}
				{% endif %}
				{% if cookie == 'a' and Model.ContentItem.Content.SubParagraph.AdvertiseRequired.Value == true %}
					{% assign checkedConditions = checkedConditions + 1 %}
				{% endif %}
			{% endfor%}
		{% endif %}

		{% if checkedConditions >= conditionCount %}
			<h4 id="{{ Model.ContentItem.Content.TitlePart.Title | slugify }}">{{ Model.ContentItem.Content.TitlePart.Title }}</h4>
			{% if Model.ContentItem.Content.SubParagraph.Image.Paths != nil %}
			<div style="float:left;;width:40%;margin-right:20px;">
				<img style="object-fit: cover;width:100%" src="{{Model.ContentItem.Content.SubParagraph.Image.Paths.first | asset_url }}">
			</div>
			{% endif %}
			{{ Model.Content.HtmlBodyPart | shape_render}}
		{% else %}
		<h4 id="{{ Model.ContentItem.Content.TitlePart.Title | slugify }}"></h4>
			{{ Model.ContentItem.Content.SubParagraph.AlternateContent.Html | raw }}
		{% endif %}
	</div>
</div>