<div class="row w-90 mx-auto justify-content-center">
	<div class="mth-content mth-content-abstract">
		<h2 class="mth-section-title" id="{{ Model.ContentItem.Content.TitlePart.Title | slugify }}">{{ Model.ContentItem.Content.TitlePart.Title }}</h2>
	</div>
</div>
<div class="row w-90 mx-auto">
	<div class="mth-content mth-content-abstract">
		{% if Model.ContentItem.Content.Abstract.Image.Paths != nil %}
			<div style="float:left;;width:40%;margin-right:20px;">
				<img style="object-fit: cover;width:100%" src="{{Model.ContentItem.Content.Abstract.Image.Paths.first | asset_url }}">
				<a href="{{Model.ContentItem.Content.Abstract.ImageAttribution.Url | href}}">{{Model.ContentItem.Content.Abstract.ImageAttribution.Text}}</a>
			</div>
		{% endif %}
		{% assign conditionCount = 0 %}
		{% assign checkedConditions = 0 %}

		{% assign stringParts = Request.Headers.User-agent | split: "Google" %}

		{% if stringParts.size == 1 %}
		{% if Model.ContentItem.Content.Abstract.TrackingRequired.Value == true %}
		{% assign conditionCount = conditionCount + 1%}
		{% endif %}
		{% if Model.ContentItem.Content.Abstract.AdvertiseRequired.Value == true %}
		{% assign conditionCount = conditionCount + 1%}
		{% endif %}

		{% assign cookies = Request.Cookies.cookiesConsentOptions | split: "," %}
		{% for cookie in cookies %}
		{% if cookie == 't' and Model.ContentItem.Content.Abstract.TrackingRequired.Value == true %}
		{% assign checkedConditions = checkedConditions + 1 %}
		{% endif %}
		{% if cookie == 'a' and Model.ContentItem.Content.Abstract.AdvertiseRequired.Value == true %}
		{% assign checkedConditions = checkedConditions + 1 %}
		{% endif %}
		{% endfor%}
		{% endif %}

		{% if checkedConditions >= conditionCount %}
		{{ Model.Content.HtmlBodyPart | shape_render}}
		{% else %}
		{{ Model.ContentItem.Content.Abstract.AlternateContent.Html | raw }}
		{% endif %}
	</div>
</div>