<nav class="navbar fixed-top navbar-expand-lg bg-primary">
	<div class="container">
		<div class="navbar-translate">
			{% capture myHome %}
			{{Request.PathBase}}/{{Model.ContentItem.Content.LocalizationPart.Culture}}/Home
			{% endcapture %}
			<a class="navbar-brand" href="{{myHome | href }}">{{ Site.SiteName }}</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto">
				{% for item in Model.Items %}
				{{ item | shape_render }}
				{% endfor %}
				{% shape "ContentCulturePicker" %}
			</ul>
		</div>
	</div>
</nav>